/* You can add global styles to this file, and also import other style files */

.content {
  display: flex;
  padding: 10vh 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
}

pre {
  text-align: left;
}

html { 
  background: #E8E9EC;
}

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }

  .file-label {
      font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px
}